<h3 class="heading-left">Your Basket</h3>
<mat-list role="list">
  <mat-divider></mat-divider>
  <mat-list-item
    role="listitem"
    *ngFor="let item of userBasketService.userBasket.items"
  >
    {{ item.title }} - {{ item.price }} €
    <button mat-button (click)="clearItem(item.id)">
      <fa-icon [icon]="faTimes"></fa-icon>
    </button>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
<h3 class="heading-left">Total: {{ totalPrice }} €</h3>

<div *ngIf="userBasketService.userBasket.items.length > 0">
  <button mat-button (click)="clearUserBasket()">WARENKORB LEEREN</button>
</div>
